/*~
/*.o
/RNLMS.c
/error.dat
/error_data
/main
/output.dat
/callgrind.out.*
/Debug/error.dat
/Debug/output.dat
/bin_to_ccs_dat_converter
/rnlms.CS_
/rnlms.sbl
/Debug/*.obj
/Debug/rnlms.map
/Debug/rnlms.func_info
/Debug.lkf
/Debug/rnlms.out
/cc_build_Debug.log
/librnlms.so
/tester.rkt
/#rnlms_wrap.c#
/1
/bin_prog
/error.txt
/output.txt
/rnlms_wrap.c
/tester2.rkt
